*, *::before, *::after {
    margin: 0;padding: 0;
    box-sizing: border-box;
}


.page-background {
    height: 100vh;
}

#bg_img {
    height: 100%;
}

.container {
    position: absolute;
    top: 0;left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container {
    height: 90%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 50px;
    background: rgba(221, 159, 255, 0.116);
    backdrop-filter: blur(15px);
}

.player-avatar-selection {
    height: 100%;
    width: 30%;
    border: solid 5px red;
}

.gameboy-area {
    height: 50%;
    width: 40%;
    border: solid 5px red;


    display: flex;
    justify-content: center;
    align-items: center;
}
#gameBoy {
    /* height: 100%; */
    width: 110%;
}
.computer-avatar-selection {
    height: 100%;
    width: 30%;
    border: solid 5px red;
}
